<div class="movie-wrapper">
  <div class="movie-options">
    <div class="find-movie">
      <mat-form-field class="example-form-field">
        <mat-label>Find film by name</mat-label>
        <input matInput type="text" [(ngModel)]="value" (input)="onInputChange($event)">
        @if (value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>X</mat-icon>
        </button>
        }
      </mat-form-field>
    </div>
    <div class="add-movie">
      <button (click)="navigateMovieProperties('addMovie')">
        +
      </button>
    </div>

  </div>
  <div class="movies" *ngFor="let movie of movies">

    <div class="card">
      <div class="card--id">{{movie.id}}</div>
      <div class="card--name">{{movie.name}}</div>
      <div class="card--edit">
        <img src="images/delete.png" (click)="deleteMovie(movie.id)">
        <img src="images/edit.webp" (click)="navigateToUpdate('updateMovie/'+movie.id, movie.id)">
      </div>
    </div>

  </div>
</div>
