.movie-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
    width: 100%;
}

.movie-description{
    width: 300px;
}

.movie-title{
    width: 300px;
}