.movie-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie-description {
    width: 300px;
}

.movie-title {
    width: 300px;
}


.description {
    border: 1px solid black;
    width: 300px;

    textarea {
        max-height: 200px;
        min-height: 200px;
    }
}



.example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
}

.main-information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}


.secondary-information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}


button{
    border: none;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    background-color: #36b636;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}